@model RinconGuatemaltecoApp.Models.Factura

<h1>Detalles de la Factura</h1>
<p><strong>Factura ID:</strong> @Model.FacturaID</p>
<p><strong>Cliente:</strong> @Model.Cliente.Nombre</p>
<p><strong>Venta:</strong> @Model.VentaID</p>
<p><strong>Fecha:</strong> @Model.Fecha.ToShortDateString()</p>
<p><strong>Total:</strong> Q@Model.Total.ToString("N2")</p>

<a asp-action="Index" class="btn btn-primary">Volver al listado</a>
