@model RinconGuatemaltecoApp.Models.Cliente

<h1>Editar Cliente</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="ClienteID" />
    <div>
        <label for="Nombre">Nombre:</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div>
        <label for="Direccion">Dirección:</label>
        <input asp-for="Direccion" class="form-control" />
    </div>
    <div>
        <label for="Telefono">Teléfono:</label>
        <input asp-for="Telefono" class="form-control" />
    </div>
    <button type="submit">Guardar</button>
</form>
